.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #0fd80f;
  --secondary-color: #078d07;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
