.app.dark {

  --bg-color: #06067d;
  --invert-bg-color: #d0bdbd;


  --primary-color: #edede4;
  --secondary-color: rgb(193, 193, 185);
  --invert-primary-color: #3d2bea;
  --invert-secondary-color: rgb(119, 106, 237);
}